VisualCRedistributables.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Redistributables">
    <xs:annotation>
      <xs:documentation>https://support.microsoft.com/en-gb/help/2977003/the-latest-supported-visual-c-downloads</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Platform" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Redistributable" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element type="xs:string" name="Name"/>
                    <xs:element type="xs:string" name="ShortName"/>
                    <xs:element type="xs:string" name="URL"/>
                    <xs:element type="xs:string" name="ProductCode"/>
                    <xs:element type="xs:string" name="Download"/>
                  </xs:choice>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="Architecture" use="optional"/>
            <xs:attribute type="xs:short" name="Release" use="optional"/>
            <xs:attribute type="xs:string" name="Install" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>